<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Records</title>
</head>

<body>
    {% extends "master.html" %}

    {% block title %}
        Django Records
    {% endblock %}

    {% block content %}
        <div class="main">
            <h1>Django Records</h1>
            <h3>Records, Tapes, & CDs</h3>
            <p>Check out the <a href="/records">record collection</a></p>
            <pre>
                
            </pre>
        </div>

    {% endblock %}
</body>

</html>